# Server
PORT=8000
NODE_ENV=development
# Plusieurs origines séparées par des virgules (front web + Expo web sur le LAN si besoin)
CORS_ORIGIN=http://localhost:5173,http://localhost:3000,http://192.168.0.110:8081

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/taskflow?schema=public"

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
